@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.station-popup .leaflet-popup-tip,
.station-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(4px);
}

.station-popup .leaflet-popup-content {
	margin: 1rem;
}

.map-fontanelle .leaflet-left .leaflet-control {
    margin-left: 1rem;
}

.map-fontanelle .leaflet-top .leaflet-control {
    margin-top: 1rem;
}
